src/main/resources/RetailWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608.payara-p6 (UNKNOWN_BRANCH-false; 2021-12-13T15:06:33+0000) JAXWS-RI/2.2.11-b150120.1832.payara-p4 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. -->
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. -->
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://services.methcheck.appriss.com/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://services.methcheck.appriss.com/"
             name="RetailServicesWS">
    <types>
        <xsd:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                    targetNamespace="http://services.methcheck.appriss.com/">
            <xs:element name="doInquiry" type="tns:doInquiry"/>

            <xs:element name="doInquiryResponse" type="tns:doInquiryResponse"/>

            <xs:element name="doPurchase" type="tns:doPurchase"/>

            <xs:element name="doPurchaseResponse"
                        type="tns:doPurchaseResponse"/>

            <xs:element name="doReturn" type="tns:doReturn"/>

            <xs:element name="doReturnResponse" type="tns:doReturnResponse"/>

            <xs:element name="doSignature" type="tns:doSignature"/>

            <xs:element name="doSignatureResponse"
                        type="tns:doSignatureResponse"/>

            <xs:element name="doVoid" type="tns:doVoid"/>

            <xs:element name="doVoidResponse" type="tns:doVoidResponse"/>

            <xs:element name="parseId" type="tns:parseId"/>

            <xs:element name="parseIdResponse" type="tns:parseIdResponse"/>

            <xs:complexType name="doSignature">
                <xs:sequence>
                    <xs:element name="SignatureRequest"
                                type="tns:SignatureRequestType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="SignatureRequestType">
                <xs:sequence>
                    <xsd:choice>
                        <xs:element name="pseTrxId" type="xs:string"/>
                        <xs:element name="storeTrxId" type="xs:string"/>
                    </xsd:choice>
                    <xs:element name="signature" type="tns:signatureType"/>
                    <xs:element name="store" type="tns:StoreType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="signatureType">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="mimeType" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>

            <xs:complexType name="StoreType">
                <xs:sequence>
                    <xsd:choice>
                        <xs:element name="ncpdp" type="xs:string"/>
                        <xs:element name="storeId" type="xs:string"/>
                    </xsd:choice>
                    <xs:element name="siteId" type="xs:string"/>
                    <xs:element name="storeTech" type="xs:string"/>
                    <xs:element name="pharmacistApproval" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="doSignatureResponse">
                <xs:sequence>
                    <xs:element name="signatureResult"
                                type="tns:SignatureResponseType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="SignatureResponseType">
                <xs:sequence>
                    <xs:element name="pseTrxId" type="xs:integer"
                                minOccurs="0"/>
                    <xs:element name="storeTrxId" type="xs:string"
                                minOccurs="0"/>
                    <xs:element name="time" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="trxStatus" type="tns:ResultCodeType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ResultCodeType">
                <xs:sequence>
                    <xs:element name="resultCode" type="xs:int"/>
                    <xs:element name="errorMsg" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="doPurchase">
                <xs:sequence>
                    <xs:element name="purchaseRequest"
                                type="tns:PurchaseRequestType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="PurchaseRequestType">
                <xs:sequence>
                    <xs:element name="person" type="tns:PersonInfoType"/>
                    <xs:element name="store" type="tns:StoreType"/>
                    <xs:element name="inquiryId" type="xs:integer"
                                minOccurs="0"/>
                    <xs:element name="storeTrxId" type="xs:string"
                                minOccurs="0"/>
                    <xs:element name="storeTrxTime" type="xs:dateTime"/>
                    <xs:element name="postSaleInd" type="xs:boolean"
                                default="false"/>
                    <xs:element name="products">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="product"
                                            type="tns:ProductType" minOccurs="1"
                                            maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="signature" type="tns:signatureType"
                                nillable="true" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="PersonInfoType">
                <xs:sequence>
                    <xs:element name="id" type="xs:string" minOccurs="0"/>
                    <xs:element name="idType" type="xs:string" minOccurs="0"/>
                    <xs:element name="idIssuingAgency" type="xs:string"
                                minOccurs="0"/>
                    <xs:element name="idExpiration" type="xs:string"
                                minOccurs="0"/>
                    <xs:element name="lastName" type="xs:string" minOccurs="0"/>
                    <xs:element name="middleName" type="xs:string"
                                minOccurs="0"/>
                    <xs:element name="firstName" type="xs:string"
                                minOccurs="0"/>
                    <xs:element name="suffix" type="xs:string" minOccurs="0"/>
                    <xs:element name="birthDate" type="xs:string"
                                minOccurs="0"/>
                    <xs:element name="addressLine1" type="xs:string"
                                minOccurs="0"/>
                    <xs:element name="addressLine2" type="xs:string"
                                minOccurs="0"/>
                    <xs:element name="city" type="xs:string" minOccurs="0"/>
                    <xs:element name="state" type="xs:string" minOccurs="0"/>
                    <xs:element name="postalCode" type="xs:string"
                                minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ProductType">
                <xs:sequence>
                    <xs:element name="upc" type="xs:string"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="ndc" type="xs:string" minOccurs="0"/>
                    <xs:element name="grams" type="xs:float"/>
                    <xs:element name="pills" type="xs:int" minOccurs="0"/>
                    <xs:element name="dosages" type="xs:int" minOccurs="0"/>
                    <xs:element name="type" type="xs:string" minOccurs="0"/>
                    <xs:element name="pediatricInd" type="xs:boolean"
                                nillable="true"/>
                    <xs:element name="boxCount" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="doPurchaseResponse">
                <xs:sequence>
                    <xs:element name="purchaseResult"
                                type="tns:PurchaseResponseType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="PurchaseResponseType">
                <xs:sequence>
                    <xs:element name="pseTrxId" type="xs:integer"
                                minOccurs="0"/>
                    <xs:element name="storeTrxId" type="xs:string"
                                minOccurs="0"/>
                    <xs:element name="pseTrxTime" type="xs:dateTime"
                                minOccurs="0"/>
                    <xs:element name="time" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="pseResult" type="tns:ComplianceResultType"
                                minOccurs="0"/>
                    <xs:element name="limits" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="limit" type="tns:limitType"
                                            minOccurs="0"
                                            maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="warnings" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="warning"
                                            type="tns:warningType" minOccurs="0"
                                            maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="trxStatus" type="tns:ResultCodeType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ComplianceResultType">
                <xs:sequence>
                    <xs:element name="agent" type="tns:AgentType"
                                maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="result" type="xs:string" use="required"/>
            </xs:complexType>

            <xs:complexType name="AgentType">
                <xs:sequence>
                    <xs:element name="agentCheck" type="tns:AgentCheckType"
                                maxOccurs="unbounded"/>
                </xs:sequence>
                <xs:attribute name="name" type="xs:string" use="required"/>
                <xs:attribute name="result" type="xs:string" use="required"/>
            </xs:complexType>

            <xs:complexType name="AgentCheckType">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="result" type="xs:string"
                                      use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>

            <xs:complexType name="warningType">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="code" type="xs:string"
                                      use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>

            <xs:complexType name="limitType">
                <xs:simpleContent>
                    <xs:extension base="xs:decimal">
                        <xs:attribute name="units" type="xs:string"
                                      use="required"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>

            <xs:complexType name="parseId">
                <xs:sequence>
                    <xs:element name="parseId" type="tns:IdParseRequestType"
                                minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="IdParseRequestType">
                <xs:sequence>
                    <xsd:choice>
                        <xs:element name="idScan" type="xs:string"/>
                        <xs:element name="store" type="tns:StoreType"/>
                    </xsd:choice>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="parseIdResponse">
                <xs:sequence>
                    <xs:element name="parseResult"
                                type="tns:IdParseResponseType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="IdParseResponseType">
                <xs:sequence>
                    <xs:element name="person" type="tns:PersonInfoType"
                                minOccurs="0"/>
                    <xs:element name="trxStatus" type="tns:ResultCodeType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="doReturn">
                <xs:sequence>
                    <xs:element name="returnRequest"
                                type="tns:ReturnRequestType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ReturnRequestType">
                <xs:sequence>
                    <xs:element name="personIdentifier"
                                type="tns:ReturnIdentifierType"/>
                    <xs:element name="storeRtrnId" type="xs:string"
                                minOccurs="0"/>
                    <xs:element name="storeRtrnTime" type="xs:dateTime"/>
                    <xs:element name="store" type="tns:StoreType"/>
                    <xs:element name="products" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="product"
                                            type="tns:ProductType" minOccurs="0"
                                            maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ReturnIdentifierType">
                <xsd:choice>
                    <xs:element name="personIdentifier"
                                type="tns:PersonIdentifierType"/>
                    <xs:element name="pseTrxId" type="xs:string"
                                nillable="true"/>
                </xsd:choice>
            </xs:complexType>

            <xs:complexType name="PersonIdentifierType">
                <xs:sequence>
                    <xsd:choice>
                        <xs:element name="idScan" type="xs:string"/>
                        <xs:element name="personInfo"
                                    type="tns:PersonInfoType"/>
                    </xsd:choice>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="doReturnResponse">
                <xs:sequence>
                    <xs:element name="returnResult"
                                type="tns:ReturnResponseType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="ReturnResponseType">
                <xs:sequence>
                    <xs:element name="pseRtrnId" type="xs:integer"
                                minOccurs="0"/>
                    <xs:element name="storeRtrnId" type="xs:string"
                                minOccurs="0"/>
                    <xs:element name="storeRtrnTime" type="xs:dateTime"
                                minOccurs="0"/>
                    <xs:element name="time" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="trxStatus" type="tns:ResultCodeType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="doInquiry">
                <xs:sequence>
                    <xs:element name="inquiryRequest"
                                type="tns:InquiryRequestType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="InquiryRequestType">
                <xs:sequence>
                    <xs:element name="personIdentifier"
                                type="tns:PersonIdentifierType"/>
                    <xs:element name="store" type="tns:StoreType"/>
                    <xs:element name="products">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="product"
                                            type="tns:ProductType" minOccurs="1"
                                            maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="doInquiryResponse">
                <xs:sequence>
                    <xs:element name="inquiryResult"
                                type="tns:InquiryResponseType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="InquiryResponseType">
                <xs:sequence>
                    <xs:element name="inquiryId" type="xs:integer"
                                minOccurs="0"/>
                    <xs:element name="time" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="person" type="tns:PersonInfoType"
                                minOccurs="0"/>
                    <xs:element name="limits" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="limit" type="tns:limitType"
                                            minOccurs="0"
                                            maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="result" type="tns:ComplianceResultType"
                                minOccurs="0"/>
                    <xs:element name="warnings" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="warning"
                                            type="tns:warningType" minOccurs="0"
                                            maxOccurs="unbounded"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="trxStatus" type="tns:ResultCodeType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="doVoid">
                <xs:sequence>
                    <xs:element name="voidRequest" type="tns:VoidRequestType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="VoidRequestType">
                <xs:sequence>
                    <xsd:choice>
                        <xs:element name="storeVoidId" type="xs:string"/>
                        <xs:element name="pseTrxId" type="xs:integer"/>
                    </xsd:choice>
                    <xs:element name="storeVoidTime" type="xs:dateTime"/>
                    <xs:element name="store" type="tns:StoreType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="doVoidResponse">
                <xs:sequence>
                    <xs:element name="voidResult" type="tns:VoidResponseType"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="VoidResponseType">
                <xs:sequence>
                    <xs:element name="storeVoidTime" type="xs:dateTime"
                                minOccurs="0"/>
                    <xs:element name="time" type="xs:dateTime" minOccurs="0"/>
                    <xs:element name="trxStatus" type="tns:ResultCodeType"/>
                </xs:sequence>
                <xs:attribute name="result" type="xs:string"/>
            </xs:complexType>
        </xsd:schema>
    </types>
    <message name="doInquiry">
        <part name="parameters" element="tns:doInquiry"/>
    </message>
    <message name="doInquiryResponse">
        <part name="parameters" element="tns:doInquiryResponse"/>
    </message>
    <message name="doPurchase">
        <part name="parameters" element="tns:doPurchase"/>
    </message>
    <message name="doPurchaseResponse">
        <part name="parameters" element="tns:doPurchaseResponse"/>
    </message>
    <message name="doReturn">
        <part name="parameters" element="tns:doReturn"/>
    </message>
    <message name="doReturnResponse">
        <part name="parameters" element="tns:doReturnResponse"/>
    </message>
    <message name="doVoid">
        <part name="parameters" element="tns:doVoid"/>
    </message>
    <message name="doVoidResponse">
        <part name="parameters" element="tns:doVoidResponse"/>
    </message>
    <message name="doSignature">
        <part name="parameters" element="tns:doSignature"/>
    </message>
    <message name="doSignatureResponse">
        <part name="parameters" element="tns:doSignatureResponse"/>
    </message>
    <message name="parseId">
        <part name="parameters" element="tns:parseId"/>
    </message>
    <message name="parseIdResponse">
        <part name="parameters" element="tns:parseIdResponse"/>
    </message>
    <portType name="RetailServicesWS">
        <operation name="doInquiry">
            <input
                    wsam:Action="http://services.methcheck.appriss.com/RetailServicesWS/doInquiryRequest"
                    message="tns:doInquiry"/>
            <output
                    wsam:Action="http://services.methcheck.appriss.com/RetailServicesWS/doInquiryResponse"
                    message="tns:doInquiryResponse"/>
        </operation>
        <operation name="doPurchase">
            <input
                    wsam:Action="http://services.methcheck.appriss.com/RetailServicesWS/doPurchaseRequest"
                    message="tns:doPurchase"/>
            <output
                    wsam:Action="http://services.methcheck.appriss.com/RetailServicesWS/doPurchaseResponse"
                    message="tns:doPurchaseResponse"/>
        </operation>
        <operation name="doReturn">
            <input
                    wsam:Action="http://services.methcheck.appriss.com/RetailServicesWS/doReturnRequest"
                    message="tns:doReturn"/>
            <output
                    wsam:Action="http://services.methcheck.appriss.com/RetailServicesWS/doReturnResponse"
                    message="tns:doReturnResponse"/>
        </operation>
        <operation name="doVoid">
            <input
                    wsam:Action="http://services.methcheck.appriss.com/RetailServicesWS/doVoidRequest"
                    message="tns:doVoid"/>
            <output
                    wsam:Action="http://services.methcheck.appriss.com/RetailServicesWS/doVoidResponse"
                    message="tns:doVoidResponse"/>
        </operation>
        <operation name="doSignature">
            <input
                    wsam:Action="http://services.methcheck.appriss.com/RetailServicesWS/doSignatureRequest"
                    message="tns:doSignature"/>
            <output
                    wsam:Action="http://services.methcheck.appriss.com/RetailServicesWS/doSignatureResponse"
                    message="tns:doSignatureResponse"/>
        </operation>
        <operation name="parseId">
            <input
                    wsam:Action="http://services.methcheck.appriss.com/RetailServicesWS/parseIdRequest"
                    message="tns:parseId"/>
            <output
                    wsam:Action="http://services.methcheck.appriss.com/RetailServicesWS/parseIdResponse"
                    message="tns:parseIdResponse"/>
        </operation>
    </portType>
    <binding name="RetailServicesWSPortBinding" type="tns:RetailServicesWS">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
                      style="document"/>
        <operation name="doInquiry">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="doPurchase">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="doReturn">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="doVoid">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="doSignature">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="parseId">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="RetailServicesWS">
        <port name="RetailServicesWSPort"
              binding="tns:RetailServicesWSPortBinding">
            <soap:address
                    location="https://methcheck.appriss.com/RetailServicesWS/RetailWebService?WSDL"/>
        </port>
    </service>
</definitions>